/vendor
/node_modules
/public/build
/public/css
/public/js
/public/report
/storage
Homestead.yaml
Homestead.json
readme.md
.env
.travis.yml

#  jetbrains phpStorm IDE files
.idea/

*.csv
public/css/app.css

public/css/app.css.map

public/js/main.js

public/js/main.js.map
