//
// Buttons
// --------------------------------------------------

.swal-button {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  @include button-size($padding-base-vertical, $padding-base-horizontal*2, $font-size-base, $line-height-base, $btn-border-radius-base);
  @include user-select(none);
  @include transition(all .2s ease-in-out);
  @include box-shadow(0 2px 4px rgba(0,0,0,.18));
}

.swal-button--confirm {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

.swal-button--cancel {
  color: $link-color;
  font-weight: 700;
  border-radius: 4px;
}

// Base styles
// --------------------------------------------------

.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  @include button-size($padding-base-vertical, $padding-base-horizontal*2, $font-size-base, $line-height-base, $btn-border-radius-base);
  @include user-select(none);
  @include transition(all .2s ease-in-out);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
    @include transition(all .2s ease-in-out);
    @include box-shadow(inset 0 2px 4px rgba(0,0,0,.1));
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    @include opacity(.65);
    @include box-shadow(none);
  }
  .fa {
    &.icon-left {
      margin-left: 0px;
      margin-right: 4px;
    }
  }
  // [converter] extracted a& to a.btn
}

a.btn {
  &.disabled,
  fieldset[disabled] & {
    pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
  }
}


// Alternate buttons
// --------------------------------------------------

.btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}
.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
.btn-primary-darker {
  @include button-variant($btn-primary-darker-color, $btn-primary-darker-bg, $btn-primary-darker-border);
}
// Success appears as green
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
// Info appears as blue-green
.btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}
// Warning appears as orange
.btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
// Danger and error appear as red
.btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}
.btn-facebook {
  @include button-variant($btn-facebook-color, $btn-facebook-bg, $btn-facebook-border);
}
.btn-twitter {
  @include button-variant($btn-twitter-color, $btn-twitter-bg, $btn-twitter-border);
}

// Hollow buttons
// -------------------------

// Make a button that has a hollow background and border only
.btn-white-hollow {
  @include button-variant(#fff !important, transparent, #fff);
  &:hover,
  &:focus,
  &.focus {
    color: darken(#fff, 10%) !important;
    border-color: darken(#fff, 10%) !important;
    text-decoration: none;
  }
}
.btn-default-hollow {
  @include button-variant($gray-base, transparent, $btn-default-border);
  &:hover,
  &:focus,
  &.focus {
    color: lighten($gray-base, 10%) !important;
    border-color: lighten($btn-default-border, 10%) !important;
    text-decoration: none;
  }
}
.btn-primary-hollow {
  @include button-variant($brand-primary, transparent, $btn-primary-border);
  &:hover,
  &:focus,
  &.focus {
    color: lighten($brand-primary, 10%) !important;
    border-color: lighten($btn-primary-border, 10%) !important;
    text-decoration: none;
  }
}
// Success appears as green
.btn-success-hollow {
  @include button-variant($brand-success, transparent, $btn-success-border);
  &:hover,
  &:focus,
  &.focus {
    color: lighten($brand-success, 10%) !important;
    border-color: lighten($btn-success-border, 10%) !important;
    text-decoration: none;
  }
}
// Info appears as blue-green
.btn-info-hollow {
  @include button-variant($brand-info, transparent, $btn-info-border);
  &:hover,
  &:focus,
  &.focus {
    color: lighten($brand-info, 10%) !important;
    border-color: lighten($btn-info-border, 10%) !important;
    text-decoration: none;
  }
}
// Warning appears as orange
.btn-warning-hollow {
  @include button-variant($brand-warning, transparent, $btn-warning-border);
  &:hover,
  &:focus,
  &.focus {
    color: lighten($brand-warning, 10%) !important;
    border-color: lighten($btn-warning-border, 10%) !important;
    text-decoration: none;
  }
}
// Danger and error appear as red
.btn-danger-hollow {
  @include button-variant($brand-danger, transparent, $btn-danger-border);
  &:hover,
  &:focus,
  &.focus {
    color: lighten($brand-danger, 10%) !important;
    border-color: lighten($btn-danger-border, 10%) !important;
    text-decoration: none;
  }
}
.btn-facebook-hollow {
  @include button-variant($brand-facebook, transparent, $btn-facebook-border);
  &:hover,
  &:focus,
  &.focus {
    color: lighten($brand-facebook, 10%) !important;
    border-color: lighten($btn-facebook-border, 10%) !important;
    text-decoration: none;
  }
}
.btn-twitter-hollow {
  @include button-variant($brand-twitter, transparent, $btn-twitter-border);
  &:hover,
  &:focus,
  &.focus {
    color: lighten($brand-twitter, 10%) !important;
    border-color: lighten($btn-twitter-border, 10%) !important;
    text-decoration: none;
  }
}

// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  color: $link-color;
  font-weight: 700;
  border-radius: 4px;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: $gray-light;
  }
  &:hover,
  &:focus {
    color: $link-hover-color !important;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}


// Button Sizes
// --------------------------------------------------

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal*2, $font-size-large, $line-height-large, $btn-border-radius-large);
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, $padding-small-horizontal*2, $font-size-small, $line-height-small, $btn-border-radius-small);
}
.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal*2, $font-size-small, $line-height-small, $btn-border-radius-small);
}


// Block button
// --------------------------------------------------

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

// Video Play button
// --------------------------------------------------
.btn-video-play {
  height: 100px;
  width: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid $brand-primary;
  padding: 30px 40px;
  margin: 0 auto;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  @include transition(all .1s ease-in-out);
  &:after {
    content: '';
    position: absolute;
    top: 93%;
    left: 50%;
    margin-top: -9.38462px;
    margin-left: -6.5px;
    width: 0px;
    height: 0px;
    border-top: 9.66667px solid transparent;
    border-bottom: 9.66667px solid transparent;
    border-left: 18.33333px solid $brand-primary;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border: 4px solid darken($brand-primary, 10%);
  }
}
