// padding
.p-0 {
    padding: 0;
}
.p-1\/2 {
    padding: 0.5rem;
}
.p-2 {
    padding: 2rem;
}
.pt-0 {
    padding-top: 0;
}
.pt-4 {
    padding-top: 4rem;
}
.pb-4 {
    padding-bottom: 4rem;
}

// margin
.m-0 {
    margin: 0;
}
.mt-0 {
   margin-top: 0;
}
.mt-4 {
    margin-top: 5rem;
}
.mt-5 {
    margin-top: 5rem;
}
.mb-4 {
    margin-bottom: 5rem;
}
.mb-5 {
    margin-bottom: 5rem;
}
.mr-2 {
    margin-right: 2rem;
}

// border radius
.br-1\/2 {
    border-radius: 0.5rem
}