.onenation-vision {
  color: #052314;
  background: $gray-light url(../../images/1n1d19/light-paint-bg.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 100px 0 100px;
}
.onenation-exp {
  color: #052314;
  background: #fff url(../../images/1n1d19/paper-light-bg.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 100px 0 100px;
}
.onenation-header {
  background: #052314 url(../../images/1n1d19/acw-home-bg.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 100px 0 100px;
  color: #f7f0e1;
}
img.onenation-logo {
  width: 100%;
  max-width: 500px;
  margin: 50px 0 10px;
}